.header-container {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;

  &__background {
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: relative;
  }

  &__background-video {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  &__navbar {
    width: 100%;
    height: 100px;
    position: fixed;
  }
  &__logo {
    position: absolute;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
  }

  &__nav {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    top: 20px;
    right: 20px;
    width: 600px;

    @include tablet-portrait {
      display: none;
    }
  }

  &__hamb {
    display: none;
    position: absolute;
    justify-content: space-evenly;
    top: 10px;
    right: 20px;
    width: 50px;

    @include tablet-portrait {
      display: flex;
    }
  }

  &__hamb--size {
    color: white;
    font-size: 40px;
  }

  &__text {
    position: absolute;
    bottom: 45%;
    left: 5%;
    width: 50%;
    color: white;

    @include tablet-portrait {
      bottom: 45%;
    }

    @include mobile {
      width: 80%;
    }
  }

  &__text--h1 {
    font-size: 60px;

    @include tablet-portrait {
      font-size: 40px;
    }
  }

  &__text--h3 {
    font-size: 20px;
  }

  &__box-buttons {
    position: absolute;
    display: none;
    justify-content: space-evenly;
    bottom: 1%;
    width: 100%;
    height: 10%;

    @include mobile {
      display: flex;
    }
  }

  &__box-buttons--button1 {
    border-radius: 4px;
    border-style: none;
    padding: 5px 90px 5px 90px;

    background-color: rgb(37, 201, 201);
    color: white;
  }

  &__box-buttons--button2 {
    border-radius: 4px;
    border-style: none;
    padding: 5px 90px 5px 90px;
    background-color: rgb(245, 43, 201);
    color: white;
  }
}

.nav-ul {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  width: inherit;

  &__li--content {
    display: flex;
    justify-content: space-evenly;
    width: 130px;
    color: white;
  }

  &__li--link {
    text-decoration: none;
    color: white;
  }

  &__li--button {
    border-radius: 4px;
    border-style: none;
    padding: 5px 30px 5px 30px;
    border-color: rgb(245, 43, 201);
    background-color: rgb(245, 43, 201);
    color: white;
  }
}
