.header-container {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.header-container__background {
  width: 100%;
  height: inherit;
  overflow: hidden;
  position: relative;
}

.header-container__background-video {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.header-container__navbar {
  width: 100%;
  height: 100px;
  position: fixed;
}

.header-container__logo {
  position: absolute;
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.header-container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 20px;
  right: 20px;
  width: 600px;
}

.header-container__text {
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: 30%;
  color: white;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
}

.nav-ul__li--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 130px;
  color: white;
}

.nav-ul__li--link {
  text-decoration: none;
  color: white;
}

.nav-ul__li--button {
  border-radius: 4px;
  border-style: none;
  padding: 5px 30px 5px 30px;
  border-color: #f52bc9;
  background-color: #f52bc9;
  color: white;
}
/*# sourceMappingURL=header.css.map */