.what-is {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;

  @include tablet-portrait {
    flex-direction: column;
  }

  &__h1 {
    display: flex;
    width: 35%;
    height: inherit;

    @include tablet-portrait {
      width: 80%;
    }

    @include mobile {
      font-size: 15px;
    }
  }

  &__text {
    display: flex;
    width: 40%;
    height: inherit;
    margin-right: 10%;
    font-size: 22px;

    @include tablet-portrait {
      width: 80%;
      margin-top: 30px;
    }

    @include mobile {
      font-size: 20px;
    }
  }
}

.know-more {
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;

  &__button {
    width: inherit;
    height: inherit;
    border-radius: 6px;
    border-style: none;
    padding: 5px 20px 5px 20px;
    background-color: #4443e4;
    color: white;
  }
}

.last-places {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 1000px;
  margin-left: 10%;
  margin-right: 10%;

  @include desktop {
    height: 800px;
  }

  @include tablet-portrait {
    height: auto;
    flex-direction: column;
  }

  &__fs-developer {
    position: relative;
    width: 50%;
    background-image: url(../images/bootcamps/fullstack-img-chooser.jpg);
    background-size: cover;

    @include tablet-portrait {
      width: 100%;
      min-height: 500px;
    }

    @include mobile {
      min-height: 350px;
    }
  }

  &__fs-developer--container-h1 {
    width: 70%;
    height: 40px;
    margin-top: 120px;
    margin-left: 30px;
    color: white;
  }

  &__fs-developer--container-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__fs-developer--container-arrow {
    position: absolute;
    right: 10px;
    bottom: 30px;
    width: 80px;
    height: 80px;
  }

  &__fs-developer--button {
    width: inherit;
    height: inherit;
    border-radius: 6px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    background-color: #e4ca36;
    color: black;
  }

  &__cibersegurity {
    position: relative;
    width: 50%;
    height: 50%;
    background-image: url(../images/bootcamps/ciber-img-chooser.jpg);
    background-size: cover;

    @include tablet-portrait {
      width: 100%;
      min-height: 500px;
    }

    @include mobile {
      min-height: 350px;
    }
  }

  &__uxui-designer {
    position: relative;
    width: 50%;
    height: 50%;
    background-image: url(../images/bootcamps/uxui-img-chooser.jpg);
    background-size: cover;

    @include tablet-portrait {
      width: 100%;
      min-height: 500px;
    }

    @include mobile {
      min-height: 350px;
    }
  }

  &__uxui-designer--button {
    width: inherit;
    height: inherit;
    border-radius: 6px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    background-color: rgb(1, 250, 215);
    color: black;
  }

  &__frontend-developer {
    position: relative;
    width: 50%;
    height: 50%;
    background-image: url(../images/bootcamps/frontend-img-chooser.jpg);
    background-size: cover;

    @include tablet-portrait {
      width: 100%;
      min-height: 500px;
    }

    @include mobile {
      min-height: 350px;
    }
  }
}
