.container-company {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
  background: rgb(245, 241, 241);

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 10%;
    margin-right: 10%;

    @include tablet-portrait {
      flex-direction: column;
    }
  }

  &__text--h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: inherit;

    @include tablet-portrait {
      width: 80%;
      margin-bottom: 30px;
    }
  }

  &__text--p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: inherit;
    margin-right: 10%;
    font-size: 22px;

    @include tablet-portrait {
      width: 90%;
    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    @include tablet-portrait {
      justify-content: start;
      margin-left: 13%;
    }
  }

  &__logo--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    height: 40%;
    margin-bottom: 50px;

    @include tablet-portrait {
      min-width: 160px;
    }
  }

  &__logo--indra {
    width: 80%;
    height: 80%;
  }

  &__logo--deloitte {
    width: 80%;
    height: 80%;
  }

  &__logo--aratech {
    width: 80%;
    height: 80%;
  }

  &__logo--telefonica {
    width: 80%;
    height: 50%;
  }

  &__logo--ticjob {
    width: 80%;
    height: 50%;
  }

  &__logo--nateevo {
    width: 80%;
    height: 80%;
  }

  &__logo--tata {
    width: 80%;
    height: 80%;
  }

  &__logo--kpmg {
    width: 60%;
    height: 60%;
  }

  &__logo--acilia {
    width: 70%;
    height: 50%;
  }

  &__logo--go {
    width: 80%;
    height: 80%;
  }
}

.intro-upgraders {
  width: 80%;
  height: 50px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__text {
    font-size: 35px;

    @include tablet-portrait() {
      font-size: 25px;
    }
  }
}

.upgraders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  margin-top: 90px;

  @include tablet-portrait {
    height: auto;
  }

  &__container1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 25%;
    height: auto;
    background-image: linear-gradient(
        transparent 50% (rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6))
      ),
      url("../images/testimonials/elena_martin.jpg");
    background-size: cover;
    background-position: center;
    color: white;

    @include tablet-portrait {
      width: 50%;
      min-width: 300px;
      min-height: 280px;
    }

    @include tablet {
      min-width: 0px;
    }

    @include mobile() {
      width: 100%;
      height: 350px;
      min-width: 300px;
    }
  }

  &__container1--text {
    margin-left: 40px;
    margin-bottom: 30px;
  }

  &__container1--h2 {
    font-size: 20px;
  }

  &__container1--p {
    font-size: 15px;
  }

  &__container1--button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
    border-radius: 6px;
    border-style: none;
    padding: 5px 30px 5px 30px;
    background-color: rgba(248, 248, 248, 0.2);
    opacity: 1;
    color: white;

    @include tablet-portrait {
      display: flex;
    }
  }

  &__container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 25%;
    height: auto;
    background-image: linear-gradient(
        transparent 50% (rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6))
      ),
      url("../images/testimonials/testimonial_1.jpg");
    background-size: cover;
    background-position: center;
    color: white;

    @include tablet-portrait {
      width: 50%;
      min-width: 300px;
      min-height: 280px;
    }

    @include tablet {
      min-width: 0px;
    }

    @include mobile() {
      width: 100%;
      height: 350px;
      min-width: 300px;
    }
  }

  &__container3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 25%;
    height: auto;
    background-image: linear-gradient(
        transparent 50% (rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6))
      ),
      url("../images/testimonials/carmen_mallado.jpg");
    background-size: cover;
    background-position: center;
    color: white;

    @include tablet-portrait {
      width: 50%;
      min-width: 300px;
      min-height: 280px;
    }

    @include tablet {
      min-width: 0px;
    }

    @include mobile() {
      width: 100%;
      height: 350px;
      min-width: 300px;
    }
  }

  &__container4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 25%;
    height: auto;
    background-image: linear-gradient(
        transparent 50% (rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6))
      ),
      url("../images/testimonials/alberto_torres.jpg");
    background-size: cover;
    background-position: center;
    color: white;

    @include tablet-portrait {
      width: 50%;
      min-width: 300px;
      min-height: 280px;
    }

    @include tablet {
      min-width: 0px;
    }

    @include mobile() {
      width: 100%;
      height: 350px;
      min-width: 300px;
    }
  }
}
