.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 50px;
  background-color: #4443e4;

  @include tablet-portrait {
    flex-direction: column;
    align-items: center;
  }

  &__div1 {
    width: 30%;
    height: auto;
    padding-top: 60px;
    background-color: #4443e4;
    color: white;

    @include tablet-portrait {
      width: 80%;
    }
  }

  &__div2 {
    width: 45%;
    height: auto;
    padding-top: 60px;
    background-color: #4443e4;
    color: white;

    @include tablet-portrait {
      width: 80%;
    }
  }

  &__divs--form {
    display: flex;
    flex-direction: column;
  }

  &__divs--button {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    border-style: none;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #ae84e6;
    color: white;
  }
}

.footer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: rgb(54, 55, 71);

  @include tablet-portrait {
    height: 500px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-left: 20%;

    @include tablet-portrait() {
      flex-direction: column;
      align-items: flex-start;
      width: 600px;
      height: 300px;
      margin-left: 10%;
    }
  }

  &__links--contact {
    width: 45%;
    height: auto;
    color: white;
  }

  &__links--separator {
    width: 1px;
    height: 140px;
    background-color: white;

    @include tablet-portrait {
      display: none;
    }
  }

  &__links--list {
    color: white;
  }

  &__social-network {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    top: 80px;
    right: 15%;
    width: 7%;
    height: 30px;
    color: white;

    @include mobile {
      top: 90%;
      left: 10%;
    }
  }
}

a {
  color: white;
}
