.container-first-text {
  display: flex;
  text-align: center;
  align-items: center;
  width: 40%;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  height: 100px;
  font-size: 20px;

  @include tablet-portrait {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
  }

  &__color {
    background-color: #fabada;
    margin-right: 5px;
  }
}

.bootcamps {
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;

  @include mobile {
    flex-wrap: wrap;
  }
}

.choose-bootcamp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 65%;

  @include mobile {
    flex-wrap: wrap;
  }

  @include tablet-portrait {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 45%;
  }

  @include mobile {
    width: 100%;
    min-width: 250px;
  }

  &__option {
    display: flex;
    align-items: center;
    width: 48%;
    height: 45%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
    background-color: rgb(251, 251, 253);
    font-size: 20px;

    @include tablet-portrait {
      width: 100%;
      min-width: 235px;
      margin-bottom: 10px;
    }
  }

  &__option--data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: inherit;
    margin-left: 10px;
  }

  &__option--logo {
    width: 60px;
    height: 60px;
  }
}

.part-full-time {
  width: 30%;
  height: 160px;
  margin-top: 10px;
  margin-left: 30px;

  @include tablet-portrait {
    width: 35%;
  }

  @include mobile {
    min-width: 250px;
    margin-left: 0%;
  }

  &__li {
    display: flex;
  }

  &__li--description {
    width: 70%;
    margin-left: 5px;
    font-size: 20px;
  }

  &__li--logo {
    width: 50px;
  }
}
