@font-face {
  font-family: "Work Sans";
  src: url("/proyecto_final/fonts/WorkSans-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Work Sans";
  src: url("/proyecto_final/fonts/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("/proyecto_final/fonts/WorkSans-Bold.ttf");
  font-weight: 700;
}

$desktop_breakpoint: 1200px;
$tablet_landscape_breakpoint: 992px;
$tablet_breakpoint: 768px;
$mobile_breakpoint: 576px;

@mixin desktop {
  @media only screen and (max-width: #{$desktop_breakpoint}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (max-width: #{$tablet_landscape_breakpoint}) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: #{$tablet_breakpoint}) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: #{$mobile_breakpoint}) {
    @content;
  }
}

@import "./1_header/header";
@import "./2_bootcamps/bootcamps";
@import "./3_company/company";
@import "./4_what_is/what_is";
@import "./5_steps/steps";
@import "./6_foot_footer/foot_footer";

html body {
  font-family: "Work Sans", sans-serif;
}
