@font-face {
  font-family: "Work Sans";
  src: url("/proyecto_final/fonts/WorkSans-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Work Sans";
  src: url("/proyecto_final/fonts/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("/proyecto_final/fonts/WorkSans-Bold.ttf");
  font-weight: 700;
}

.header-container {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.header-container__background {
  width: 100%;
  height: inherit;
  overflow: hidden;
  position: relative;
}

.header-container__background-video {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.header-container__navbar {
  width: 100%;
  height: 100px;
  position: fixed;
}

.header-container__logo {
  position: absolute;
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.header-container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 20px;
  right: 20px;
  width: 600px;
}

@media only screen and (max-width: 992px) {
  .header-container__nav {
    display: none;
  }
}

.header-container__hamb {
  display: none;
  position: absolute;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 10px;
  right: 20px;
  width: 50px;
}

@media only screen and (max-width: 992px) {
  .header-container__hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-container__hamb--size {
  color: white;
  font-size: 40px;
}

.header-container__text {
  position: absolute;
  bottom: 45%;
  left: 5%;
  width: 50%;
  color: white;
}

@media only screen and (max-width: 992px) {
  .header-container__text {
    bottom: 45%;
  }
}

@media only screen and (max-width: 576px) {
  .header-container__text {
    width: 80%;
  }
}

.header-container__text--h1 {
  font-size: 60px;
}

@media only screen and (max-width: 992px) {
  .header-container__text--h1 {
    font-size: 40px;
  }
}

.header-container__text--h3 {
  font-size: 20px;
}

.header-container__box-buttons {
  position: absolute;
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  bottom: 1%;
  width: 100%;
  height: 10%;
}

@media only screen and (max-width: 576px) {
  .header-container__box-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-container__box-buttons--button1 {
  border-radius: 4px;
  border-style: none;
  padding: 5px 90px 5px 90px;
  background-color: #25c9c9;
  color: white;
}

.header-container__box-buttons--button2 {
  border-radius: 4px;
  border-style: none;
  padding: 5px 90px 5px 90px;
  background-color: #f52bc9;
  color: white;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
}

.nav-ul__li--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 130px;
  color: white;
}

.nav-ul__li--link {
  text-decoration: none;
  color: white;
}

.nav-ul__li--button {
  border-radius: 4px;
  border-style: none;
  padding: 5px 30px 5px 30px;
  border-color: #f52bc9;
  background-color: #f52bc9;
  color: white;
}

.container-first-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  height: 100px;
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .container-first-text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
  }
}

.container-first-text__color {
  background-color: #fabada;
  margin-right: 5px;
}

.bootcamps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

@media only screen and (max-width: 576px) {
  .bootcamps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.choose-bootcamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 65%;
}

@media only screen and (max-width: 576px) {
  .choose-bootcamp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 992px) {
  .choose-bootcamp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
}

@media only screen and (max-width: 576px) {
  .choose-bootcamp {
    width: 100%;
    min-width: 250px;
  }
}

.choose-bootcamp__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
  height: 45%;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
  background-color: #fbfbfd;
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .choose-bootcamp__option {
    width: 100%;
    min-width: 235px;
    margin-bottom: 10px;
  }
}

.choose-bootcamp__option--data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  height: inherit;
  margin-left: 10px;
}

.choose-bootcamp__option--logo {
  width: 60px;
  height: 60px;
}

.part-full-time {
  width: 30%;
  height: 160px;
  margin-top: 10px;
  margin-left: 30px;
}

@media only screen and (max-width: 992px) {
  .part-full-time {
    width: 35%;
  }
}

@media only screen and (max-width: 576px) {
  .part-full-time {
    min-width: 250px;
    margin-left: 0%;
  }
}

.part-full-time__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part-full-time__li--description {
  width: 70%;
  margin-left: 5px;
  font-size: 20px;
}

.part-full-time__li--logo {
  width: 50px;
}

.container-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
  background: #f5f1f1;
}

.container-company__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 992px) {
  .container-company__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-company__text--h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: inherit;
}

@media only screen and (max-width: 992px) {
  .container-company__text--h1 {
    width: 80%;
    margin-bottom: 30px;
  }
}

.container-company__text--p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  height: inherit;
  margin-right: 10%;
  font-size: 22px;
}

@media only screen and (max-width: 992px) {
  .container-company__text--p {
    width: 90%;
  }
}

.container-company__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 992px) {
  .container-company__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 13%;
  }
}

.container-company__logo--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17%;
  height: 40%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  .container-company__logo--item {
    min-width: 160px;
  }
}

.container-company__logo--indra {
  width: 80%;
  height: 80%;
}

.container-company__logo--deloitte {
  width: 80%;
  height: 80%;
}

.container-company__logo--aratech {
  width: 80%;
  height: 80%;
}

.container-company__logo--telefonica {
  width: 80%;
  height: 50%;
}

.container-company__logo--ticjob {
  width: 80%;
  height: 50%;
}

.container-company__logo--nateevo {
  width: 80%;
  height: 80%;
}

.container-company__logo--tata {
  width: 80%;
  height: 80%;
}

.container-company__logo--kpmg {
  width: 60%;
  height: 60%;
}

.container-company__logo--acilia {
  width: 70%;
  height: 50%;
}

.container-company__logo--go {
  width: 80%;
  height: 80%;
}

.intro-upgraders {
  width: 80%;
  height: 50px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.intro-upgraders__text {
  font-size: 35px;
}

@media only screen and (max-width: 992px) {
  .intro-upgraders__text {
    font-size: 25px;
  }
}

.upgraders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 300px;
  margin-top: 90px;
}

@media only screen and (max-width: 992px) {
  .upgraders {
    height: auto;
  }
}

.upgraders__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 25%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.6))), url("../images/testimonials/elena_martin.jpg");
  background-image: linear-gradient(transparent 50% rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/testimonials/elena_martin.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

@media only screen and (max-width: 992px) {
  .upgraders__container1 {
    width: 50%;
    min-width: 300px;
    min-height: 280px;
  }
}

@media only screen and (max-width: 768px) {
  .upgraders__container1 {
    min-width: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .upgraders__container1 {
    width: 100%;
    height: 350px;
    min-width: 300px;
  }
}

.upgraders__container1--text {
  margin-left: 40px;
  margin-bottom: 30px;
}

.upgraders__container1--h2 {
  font-size: 20px;
}

.upgraders__container1--p {
  font-size: 15px;
}

.upgraders__container1--button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  border-radius: 6px;
  border-style: none;
  padding: 5px 30px 5px 30px;
  background-color: rgba(248, 248, 248, 0.2);
  opacity: 1;
  color: white;
}

@media only screen and (max-width: 992px) {
  .upgraders__container1--button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.upgraders__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 25%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.6))), url("../images/testimonials/testimonial_1.jpg");
  background-image: linear-gradient(transparent 50% rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/testimonials/testimonial_1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

@media only screen and (max-width: 992px) {
  .upgraders__container2 {
    width: 50%;
    min-width: 300px;
    min-height: 280px;
  }
}

@media only screen and (max-width: 768px) {
  .upgraders__container2 {
    min-width: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .upgraders__container2 {
    width: 100%;
    height: 350px;
    min-width: 300px;
  }
}

.upgraders__container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 25%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.6))), url("../images/testimonials/carmen_mallado.jpg");
  background-image: linear-gradient(transparent 50% rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/testimonials/carmen_mallado.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

@media only screen and (max-width: 992px) {
  .upgraders__container3 {
    width: 50%;
    min-width: 300px;
    min-height: 280px;
  }
}

@media only screen and (max-width: 768px) {
  .upgraders__container3 {
    min-width: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .upgraders__container3 {
    width: 100%;
    height: 350px;
    min-width: 300px;
  }
}

.upgraders__container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 25%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.6))), url("../images/testimonials/alberto_torres.jpg");
  background-image: linear-gradient(transparent 50% rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/testimonials/alberto_torres.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

@media only screen and (max-width: 992px) {
  .upgraders__container4 {
    width: 50%;
    min-width: 300px;
    min-height: 280px;
  }
}

@media only screen and (max-width: 768px) {
  .upgraders__container4 {
    min-width: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .upgraders__container4 {
    width: 100%;
    height: 350px;
    min-width: 300px;
  }
}

.what-is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (max-width: 992px) {
  .what-is {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.what-is__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: inherit;
}

@media only screen and (max-width: 992px) {
  .what-is__h1 {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .what-is__h1 {
    font-size: 15px;
  }
}

.what-is__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: inherit;
  margin-right: 10%;
  font-size: 22px;
}

@media only screen and (max-width: 992px) {
  .what-is__text {
    width: 80%;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .what-is__text {
    font-size: 20px;
  }
}

.know-more {
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.know-more__button {
  width: inherit;
  height: inherit;
  border-radius: 6px;
  border-style: none;
  padding: 5px 20px 5px 20px;
  background-color: #4443e4;
  color: white;
}

.last-places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  height: 1000px;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 1200px) {
  .last-places {
    height: 800px;
  }
}

@media only screen and (max-width: 992px) {
  .last-places {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.last-places__fs-developer {
  position: relative;
  width: 50%;
  background-image: url(../images/bootcamps/fullstack-img-chooser.jpg);
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  .last-places__fs-developer {
    width: 100%;
    min-height: 500px;
  }
}

@media only screen and (max-width: 576px) {
  .last-places__fs-developer {
    min-height: 350px;
  }
}

.last-places__fs-developer--container-h1 {
  width: 70%;
  height: 40px;
  margin-top: 120px;
  margin-left: 30px;
  color: white;
}

.last-places__fs-developer--container-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.last-places__fs-developer--container-arrow {
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 80px;
  height: 80px;
}

.last-places__fs-developer--button {
  width: inherit;
  height: inherit;
  border-radius: 6px;
  border-style: none;
  padding: 5px 15px 5px 15px;
  background-color: #e4ca36;
  color: black;
}

.last-places__cibersegurity {
  position: relative;
  width: 50%;
  height: 50%;
  background-image: url(../images/bootcamps/ciber-img-chooser.jpg);
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  .last-places__cibersegurity {
    width: 100%;
    min-height: 500px;
  }
}

@media only screen and (max-width: 576px) {
  .last-places__cibersegurity {
    min-height: 350px;
  }
}

.last-places__uxui-designer {
  position: relative;
  width: 50%;
  height: 50%;
  background-image: url(../images/bootcamps/uxui-img-chooser.jpg);
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  .last-places__uxui-designer {
    width: 100%;
    min-height: 500px;
  }
}

@media only screen and (max-width: 576px) {
  .last-places__uxui-designer {
    min-height: 350px;
  }
}

.last-places__uxui-designer--button {
  width: inherit;
  height: inherit;
  border-radius: 6px;
  border-style: none;
  padding: 5px 15px 5px 15px;
  background-color: #01fad7;
  color: black;
}

.last-places__frontend-developer {
  position: relative;
  width: 50%;
  height: 50%;
  background-image: url(../images/bootcamps/frontend-img-chooser.jpg);
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  .last-places__frontend-developer {
    width: 100%;
    min-height: 500px;
  }
}

@media only screen and (max-width: 576px) {
  .last-places__frontend-developer {
    min-height: 350px;
  }
}

.step-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 60px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.step-title__h1 {
  padding-left: 10px;
  color: black;
}

.container-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
}

.container-steps__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 45%;
  padding-right: 25px;
}

@media only screen and (max-width: 992px) {
  .container-steps__step {
    width: 40%;
    margin-bottom: 30px;
  }
}

.container-steps__step--h1 {
  font-size: 40px;
}

@media only screen and (max-width: 992px) {
  .container-steps__step--h1 {
    font-size: 32px;
  }
}

.container-steps__step--h2 {
  font-size: 30px;
}

@media only screen and (max-width: 992px) {
  .container-steps__step--h2 {
    font-size: 25px;
  }
}

.container-steps__step--info {
  font-size: 22px;
}

@media only screen and (max-width: 992px) {
  .container-steps__step--info {
    font-size: 18px;
  }
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-bottom: 50px;
  background-color: #4443e4;
}

@media only screen and (max-width: 992px) {
  .foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.foot__div1 {
  width: 30%;
  height: auto;
  padding-top: 60px;
  background-color: #4443e4;
  color: white;
}

@media only screen and (max-width: 992px) {
  .foot__div1 {
    width: 80%;
  }
}

.foot__div2 {
  width: 45%;
  height: auto;
  padding-top: 60px;
  background-color: #4443e4;
  color: white;
}

@media only screen and (max-width: 992px) {
  .foot__div2 {
    width: 80%;
  }
}

.foot__divs--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot__divs--button {
  width: 300px;
  height: 50px;
  border-radius: 6px;
  border-style: none;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #ae84e6;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #363747;
}

@media only screen and (max-width: 992px) {
  .footer {
    height: 500px;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin-left: 20%;
}

@media only screen and (max-width: 992px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 600px;
    height: 300px;
    margin-left: 10%;
  }
}

.footer__links--contact {
  width: 45%;
  height: auto;
  color: white;
}

.footer__links--separator {
  width: 1px;
  height: 140px;
  background-color: white;
}

@media only screen and (max-width: 992px) {
  .footer__links--separator {
    display: none;
  }
}

.footer__links--list {
  color: white;
}

.footer__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 80px;
  right: 15%;
  width: 7%;
  height: 30px;
  color: white;
}

@media only screen and (max-width: 576px) {
  .footer__social-network {
    top: 90%;
    left: 10%;
  }
}

a {
  color: white;
}

html body {
  font-family: "Work Sans", sans-serif;
}
/*# sourceMappingURL=styles.css.map */