.step-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 60px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  &__h1 {
    padding-left: 10px;
    color: black;
  }
}

.container-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;

  &__step {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 45%;
    padding-right: 25px;

    @include tablet-portrait {
      width: 40%;
      margin-bottom: 30px;
    }
  }

  &__step--h1 {
    font-size: 40px;

    @include tablet-portrait {
      font-size: 32px;
    }
  }

  &__step--h2 {
    font-size: 30px;

    @include tablet-portrait {
      font-size: 25px;
    }
  }

  &__step--info {
    font-size: 22px;

    @include tablet-portrait {
      font-size: 18px;
    }
  }
}
